.main-page__author-slider {
  margin-top: 65px;
}

.author-slider__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
}
.author-slider-wr {
  width: 245px;
  height: 222px;
  border: 1px solid #333940;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  align-items: center;
  margin-top: 22px;
  padding-top: 24px;
}

.author-slider_img {
  width: 80px;
  height: 80px;
}
.author-slider_name {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-top: 21px;
}
.author-slider_nick {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  margin-top: 8px;
}
.author-slider_etc {
  margin-top: 6px;
  color: rgba(255, 255, 255, 0.5);
}
.author-swiper {
  margin-top: 2px;
  height: 300px;
}

// .author-swiper {
//   overflow: visible !important;
//   .swiper-horizontal > .swiper-pagination-progressbar,
//   .swiper-pagination-progressbar.swiper-pagination-horizontal,
//   .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
//   .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
//     bottom: -22px !important;
//     top: unset !important;
//     background-color: rgba(255, 255, 255, 0.5) !important;
//   }
// }

// <div className="main-page__author-slider container">
// <h2 className="author-slider__title">Featured creators</h2>
// <div className="author-slider-wr">
//   <img className="author-slider_img" src="" alt="img" />
//   <p className="author-slider_name">User Name</p>
//   <p className="author-slider_nick">@username</p>
//   <p className="author-slider_etc">24 sales on 32ETH</p>
// </div>
// </div>
