.subStrate {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: -1;
  transition: 0.3s;
  &.active {
    opacity: 1;
    z-index: 1000;
  }
}
.modal {
  background: #30363d;
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
  border-radius: 32px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 40%;
  padding: 45px 24px 0;
  transition: 0.3s;
}
.cross-wr {
  width: 100%;
  display: flex;
  align-items: center;
}
.cross {
  cursor: pointer;
  width: 16.96px;
  height: 16px;
  right: 24px;
  position: absolute;
}

.modal__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 100%;
  text-align: center;
}
.bid {
  margin-top: 24px;
}

.modal__bid {
  max-width: 653px;
  width: 100%;
  min-height: 268px;
  //   height: 100%;
}
.bid__input-wr {
}

.bid__min-sum {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
}

.bid__input-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
}
.bid__input-container {
  margin-top: 8px;
  width: 176px;
  height: 40px;
  position: relative;
  &::after {
    content: "TASTE";
    position: absolute;
    font-size: 16px;
    line-height: 19px;
    pointer-events: none;
    right: 12px;
    top: 12px;
    color: rgba(255, 255, 255, 0.5);
  }
}
.bid__input {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  background: #1d2228;
  border-radius: 8px;
  border: none;
  position: relative;
  padding-left: 16px;
}

.modal__bid-title {
  width: 100%;
}
.bid__center-wr {
  display: flex;
  align-items: baseline;
}

.bid__input-price {
  margin-left: 9px;
}

.bid__btn {
  width: 157px;
  height: 40px;
  margin: 32px auto 0;
  display: block;
}
.wallet-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  gap: 57px;
}
.wallet-1__comp-wr {
  position: relative;
  z-index: 1;
}
.wallet-1__num-wr {
  width: 40px;
  z-index: 1;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wallet-1__num {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #1f2b38;
}

.wallet-1__img {
  position: relative;
  top: -11px;
  left: 9px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    align-self: center;
  }
}

.wallet-1__img-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  width: 177px;
}
.wallet__btn {
  width: 157px;
  height: 40px;

  margin: 0 auto;
  display: block;
  margin-top: 33px;
  transform: translate(9px);
  margin-bottom: 32px;
}

.wallet-2 {
  width: 645px;
}

.wallet-2__img-wr {
  background: linear-gradient(270deg, #8743ff 0%, #d8c2ff 100%);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px auto;
  img {
    width: 46px;
    height: 46px;
    border-radius: 100%;
  }
}

.wallet-2_text {
  text-align: center;
  margin-top: -14px;
  margin-bottom: 33px;
}
// <div className="wallet-2">
// <div className="wallet-2__img-wr">
//   <img src="../assets/img/modals/fox.png" alt="fox" className="wallet-2__img" />
// </div>
// <p className="wallet-2_text">Initializing</p>
// </div>
