.subStrate {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: -1;
  overflow-y: auto;
  transition: 0.3s;
  &.active {
    opacity: 1;
    z-index: 1000;
  }
}
.modal {
  background: #30363d;
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
  border-radius: 32px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 40%;
  padding: 45px 24px 0;
  transition: 0.3s;
}
.cross-wr {
  width: 100%;
  display: flex;
  align-items: center;
}
.cross {
  cursor: pointer;
  width: 16.96px;
  height: 16px;
  right: 24px;
  position: absolute;
}

.modal__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 100%;
  text-align: center;
}
.bid {
  margin-top: 24px;
}

.modal__bid {
  max-width: 653px;
  width: 100%;
  min-height: 268px;
  //   height: 100%;
}
.bid__input-wr {
}

.bid__min-sum {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
}

.bid__input-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
}
.bid__input-container {
  margin-top: 8px;
  width: 176px;
  height: 40px;
  position: relative;
  &::after {
    content: "TASTE";
    position: absolute;
    font-size: 16px;
    line-height: 19px;
    pointer-events: none;
    right: 12px;
    top: 12px;
    color: rgba(255, 255, 255, 0.5);
  }
}
.bid__input {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  background: #1d2228;
  border-radius: 8px;
  border: none;
  position: relative;
  padding-left: 16px;
}

.modal__bid-title {
  width: 100%;
}
.bid__center-wr {
  display: flex;
  align-items: baseline;
}

.bid__input-price {
  margin-left: 9px;
}

.bid__btn {
  width: 157px;
  height: 40px;
  margin: 32px auto 0;
  display: block;
}
.wallet-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  gap: 57px;
}
.wallet-1__comp-wr {
  position: relative;
  z-index: 1;
}
.wallet-1__num-wr {
  width: 40px;
  z-index: 1;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wallet-1__num {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #1f2b38;
}

.wallet-1__img {
  position: relative;
  top: -11px;
  left: 9px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    align-self: center;
  }
}

.wallet-1__img-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  width: 177px;
}
.wallet__btn {
  width: 157px;
  height: 40px;

  margin: 0 auto;
  display: block;
  margin-top: 33px;
  transform: translate(9px);
  margin-bottom: 32px;
}

.wallet-2 {
  width: 645px;
}

.wallet-2__img-wr {
  background: linear-gradient(270deg, #8743ff 0%, #d8c2ff 100%);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px auto;
  img {
    width: 46px;
    height: 46px;
    border-radius: 100%;
  }
}

.wallet-2_text {
  text-align: center;
  margin-top: -14px;
  margin-bottom: 33px;
}

.follow__tabs-wr {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  flex-basis: 250px;
}

.follow__tab {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.follow__items {
  overflow-y: scroll;
  max-height: 370px;
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
}
.follow__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.follow__btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding: 12px 32px;
}
.follow {
  width: 653px;
  height: 480px;
  top: 20%;
}
.follow__items {
  padding-right: 10px;
  margin-top: 30px;
}

.follow__btn {
  margin-top: 5px;
  &.active {
    width: 126px;
    height: 40px;
    border: linear-gradient(270deg, #8743ff 0%, #d8c2ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    filter: drop-shadow(0px 15px 30px rgba(20, 102, 204, 0.16));
    border-radius: 12px;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
    border-radius: 32px;
    outline: 2px solid #8743ff;
    text-shadow: 0 0 1px #fff;
  }
}

.edit {
  top: 1%;
  width: 653px;
  height: 937px;

  input {
    color: #fff;
  }

  &__title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    width: 100%;
  }
  &__top-wr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 34px;
    row-gap: 24px;
  }
  &__input-wr {
  }
  &__input_text {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.5);
  }
  &__input {
    width: 294px;
    height: 40px;
    left: 381px;
    top: 202px;
    background: #1d2228;
    border-radius: 8px;
    border: none;
    margin-top: 7px;
  }
  &__input-wr_right {
    padding-left: 9px;
  }
  &__input_unique {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: rgba(255, 255, 255, 0.5);
      transform: translate(4px, 4px);
      transform: translate(5px, 4px);
    }

    .edit__input {
      width: 266px;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: rgba(255, 255, 255, 0.5);
    }
  }
  &__input_descr {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.5);
  }
  &__input_descr {
  }
  &__input-wr-descr {
    padding: 23px 8px 0;
  }
  &__input-wr-big {
    grid-column: 1/3;

    input {
      width: 100%;
      height: 120px;
    }
  }
  &__center-wr {
    margin-top: 27px;
  }
  &__profile {
    background: #1d2228;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    width: 294px;
    height: 120px;
    margin-top: 12px;
  }
  &__center-title {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    line-height: 19px;
  }
  &__bottom_title {
    margin-top: 23px;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: rgba(255, 255, 255, 0.5);
  }

  //   <div className="edit__center-wr">
  //   <p className="edit__center-title">Profile image</p>
  //   <div className="edit__profile">
  //     {/* <img src="" alt="" className="edit__profile_img" /> */}
  //   </div>
  // </div>
  .creator__services-wr {
    flex-direction: column;
    margin-top: 6px;
    justify-content: center;
    margin-right: 0;

    .edit__input {
      width: 504px;
      margin-left: 35px;
      margin-top: 0;
    }
  }
  .creator__service-wr {
    align-items: center;
    margin-right: 0;
    margin-bottom: 3px;
    display: grid;
    grid-template-columns: 4% 7% 1fr;
    margin-bottom: 9px;
  }
  .socials {
    margin-right: 6px;
  }
  .creator__social-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-left: 3px;
  }

  .edit__bottom_btn {
    width: 157px;
    height: 40px;
    margin-top: 24px;
    margin: 0 auto;
    margin-top: 24px;
    display: block;
  }
}

.changeTime {
  width: 653px;
  height: 268px;
}
.changeTime__body {
  padding-top: 8px;
  display: flex;

  .card__sub-descr-bottom_timer-wr {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-left: 13px;
    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.5);
  }
}
.changeTime__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
}
.changeTime__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-top: 24px;
}
.changeTime__input {
  background: #1d2228;
  border-radius: 8px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 19px;
  border: none;
  color: #fff;
}
.changeTime__input_1 {
  width: 127px;
  height: 40px;
  margin-right: 8px;
}

.changeTime__input_2 {
  width: 75px;
  height: 40px;
}

.changeTimer__del {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  margin-left: 21px;
  align-self: center;

  color: #ff5e54;
}

.changeTimer__btn {
  width: 157px;
  height: 40px;
  display: block;
  margin: 32px auto;
}

.addArt__title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #ffffff;
}
.addArt {
  top: 15%;
  width: 653px;
  min-height: 639px;
}
.art {
}

.art__head {
  margin-top: 15px;
}
.arts__progress {
  display: flex;
  justify-content: center;
}
.art__progress {
  width: 150px;
  height: 5px;
  margin-right: 6px;
  background: linear-gradient(270deg, #8743ff 0%, #4136f1 100%);
  border-radius: 12px;

  &:last-of-type {
    margin-right: 0;
  }
}
.art__progress_text {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 17px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}

.step1 {
}
.step__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 20px;

  color: rgba(255, 255, 255, 0.5);
}
.step__drop {
  width: 599px;
  height: 360px;
  border: 1px dashed #c4c4c4;
  border-radius: 16px;
  margin-top: 13px;
  box-sizing: border-box;
  position: relative;
  button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    opacity: 0;
  }

  .span1 {
    width: 294px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    margin: 0 auto;
    width: 112px;
  }
  .span2 {
    width: 348px;
    height: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    margin: 0 auto;
    margin-top: 25px;
  }
}

.step__btn {
  margin: 32px auto;
  width: 157px;
  height: 40px;
  display: block;
}

.step2 {
}

.step__edit {
  margin-top: 11px;
}
.step__filters {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  width: 118px;
}
.picture,
.del,
.drop {
  width: 20px;
  height: 20px;
}

.form-control {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.step3__input-radio {
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  color: #8743ff;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: grid;
  place-content: center;
}

.step3__input-radio::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background: linear-gradient(270deg, #8743ff 0%, #d8c2ff 100%);
}

.step3__input-radio:checked::before {
  transform: scale(1);
}

.step3__input-radio:focus {
  // outline: max(2px, 0.15em) solid currentColor;
  // outline-offset: max(2px, 0.15em);
}

.step3 {
  margin-top: 22px;

  .bid__min-sum {
    margin-right: 43px;
    display: inline-block;
  }
  .bid {
    display: grid;
    grid-template-columns: 16% 1fr;
  }
  .bid__btn {
    grid-column: 1/3;
    margin-top: 31px;
    margin-bottom: 28px;
  }
}
.unn {
  grid-column: 1/3;
}

.step3__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
}
.step3__input1 {
  margin-top: 9px;
  margin-bottom: 23px;
}
.step3__input {
  width: 100%;
  height: 40px;
  background: #1d2228;
  border: none;
  border-radius: 8px;
}
.step3__input2 {
  margin-top: 9px;
  height: 120px;
}
.step3__radio {
  margin-top: 12px;
  display: flex;
  label {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.5);
  }
  input {
    margin-right: 7px;
  }
}
.step3__choose {
  margin-top: 17px;
  .step3__bottom-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.5);
  }
}
.yazaebalsa {
  margin-left: 16px;
}

.inc-wr {
  display: flex;
  justify-content: space-between;
  width: 64px;
  align-items: center;
  margin-top: 4px;
}
.plus {
  font-weight: 700;
  cursor: pointer;
  font-size: 40px;
  line-height: 47px;
  color: rgba(255, 255, 255, 0.5);
}
.num {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.minus {
  cursor: pointer;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: rgba(255, 255, 255, 0.5);
}

// <div className="inc-wr">
// <p className="plus">+</p>
// <p className="num">1</p>
// <p className="minus">-</p>
// </div>
