.artwork {
  margin-top: 96px;
}

.artwork__img {
  width: 100%;
  min-height: 582px;
}
.artwork__descr-wr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 518px;
  height: 75px;
  background: #30363d;
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  margin: 0 auto;
  padding: 14px 20px;
  z-index: 1;
  top: -41px;
  position: relative;
}
.artwork__descr_1 {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
    height: 43px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
  }
}
.artwork__descr_text {
  color: rgba(255, 255, 255, 0.5);
}
.artwork__descr_2 {
  position: relative;
  padding-left: 19px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
    height: 43px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
  }
  .card__sub-descr-bottom_timer-wr {
    margin-top: 4px;

    p {
      font-size: 16px;
      line-height: 19px;
    }
  }
}
.artwork__descr_3 {
  padding-top: 1px;
  padding-left: 22px;
}
.artwork__descr_text {
}
.artwork-tongue {
  margin-left: 0;
  width: 19px;
  height: 19px;
}
.artwork__descr_price {
}
.artwork__btn {
  padding: 10px 32px;
}
.artwork__descr_1_sub-descr {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 4px;
}
.artwork__descr_price_num {
  font-size: 16px;
  line-height: 19px;
  margin-left: 5px;
}
.artwork__descr_price {
  margin-left: 5px;
  font-size: 16px;
  line-height: 19px;
}

.art-descr {
  display: grid;
  grid-template-columns: 39.5% 1fr;
  margin-top: -12px;
  column-gap: 19px;
}

.art__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-top: 22px;
}

.art__copy {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
  width: 83px;
  .art__copy_text {
    color: rgba(255, 255, 255, 0.5);
  }
}

.art__descr-wr {
  margin-top: 8px;
  margin-bottom: 15px;

  span {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }

  /* display: flex; */
}
.authorPr__icon-wr.art {
  display: flex;

  .authorPr__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.art-descr__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  margin-top: 9px;

  margin-bottom: 14px;
}
.art-descr__bids-wr {
  height: 432px;
  overflow-y: scroll;
  position: relative;
}

.art-descr__bids-wr::-webkit-scrollbar {
  width: 5px;
}

.art-descr__bids-wr::-webkit-scrollbar-track {
  //   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.art-descr__bids-wr::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  //   outline: 1px solid slategrey;
}
.art-descr__bid-wr {
  display: flex;
  justify-content: space-between;
  border: 1px solid #333940;
  min-height: 67px;
  max-width: 778px;
  margin-bottom: 7px;
}
.art__bid-1 {
  display: flex;
  align-items: center;
  padding-left: 14px;
}
.art__bid_img {
  width: 32px;
  height: 32px;
}
.art__etc-wr {
  padding-left: 12px;
  margin: 12px 0px;
}
.art__etc_title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
.art__etc_etc {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 3px;
}
.art__bid-2 {
  display: flex;
  flex-basis: 191px;
  align-items: center;

  .artwork-tongue {
    margin: 0;
    width: 19px;
    height: 19px;
  }
  .artwork__descr_price_num {
  }
  .artwork__descr_price {
  }
}
.art__bid_btn {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background: linear-gradient(270deg, #8743ff 0%, #4136f1 100%);
  box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.art__authors {
  margin-top: 110px;
}
.art__authors_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
// <p className="art-descr__title">Activity</p>
// <div className="art-descr__bids-wr">
//   <div className="art-descr__bid-wr">
// 	<div className="art__bid-1">
// 	  <img src="" alt="logo" />
// 	  <dir className="art__etc-wr">
// 		<p className="art__etc_title">Bid placed by 0x6FC0...14A4</p>
// 		<p className="art__etc_etc">May 19, 2021 at 2:27pm</p>
// 	  </dir>
// 	</div>
// 	<div className="art__bid-2">
// 	  <div className="artwork__descr_1_sub-descr">
// 		<Icon id={"tongue"} className="tongue artwork-tongue"></Icon>
// 		<p className="artwork__descr_price_num">1.5M</p>
// 		<p className="artwork__descr_price">(1308.54$)</p>
// 	  </div>
// 	  <button className="common-btn art__bid_btn authorPr__icon">
// 		<Icon id="externalLink" className="externalLink"></Icon>
// 	  </button>
// 	</div>
//   </div>
