@import "./_nullstyle.css";
@import "./components/header.scss";

.container {
  max-width: 1316px;
}

body {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  background-color: #1d2228;
  color: #ffffff;
}
